/* */
html { 
	background: url(../images/background.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
div.logo img {
	position: absolute;
	top: 4%;
	left: calc(50% - 140px);
	height: 150px;
}