/* */
html { 
	background: url(../images/background.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
div.logo img {
	position: absolute;
	top: 4%;
	left: calc(38% - 140px);
	height: 150px;
}
div.single-slide h1 {
	position: absolute;
	top: 5%;
	left: calc(64% - 140px);
	font-size: 55px;
	font-family: 'Cabin', sans-serif;
	color: #fff;
}