/* */
html { 
	background: url(../images/background.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
div.logo img {
	position: absolute;
	top: 4%;
	left: calc(50% - 140px);
	height: 150px;
}
div.class {
	margin: 0 auto;
	margin-top: 15%;
	width: 5%;
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	color: #fff;
}
div.class-left ol,
div.class-right ol {
	padding: 10px;
	font-size: 28px;
	list-style-type: none;
	font-family: 'Raleway', sans-serif;
}
div.class-left h2,
div.class-right h2 {
	font-size: 40px;
	text-align: center;
	color: #fff;
	font-family: 'PT Sans', sans-serif;
	background: rgba(54, 25, 25, .5);
	padding: 8px;
	border-radius: 5px;
	margin-bottom: 15px;
}
div.class-left {
	margin: 0 auto;
	margin-left: 10%;
	width: 30%;
	float: left;
	padding: 20px;
}
div.class-right {
	margin: 0 auto;
	margin-right: 10%;
	width: 30%;
	float: right;
	padding: 20px;
}

